<div class="candidate-view">
  
  <div class="selection-controls">
    <label>
      Currently viewing:
    </label>
    <select ng-model="selected" ng-options="candidate.name for candidate in candidates">
    </select>
  </div>

  <div class="candidate-selected" ng-if="selected">
    <h1>{{selected.name}}</h1>

    <div class="election">
      Running for {{selected.raceName}} against
      <a ng-repeat="o in selected.opponents" ui-sref="candidates({ name: o.href })">{{o.name}}</a>
    </div>

    <div class="bio">

      <img class="mugshot" ng-if="selected.img" ng-src="./assets/mugs/{{selected.img}}">

      <ul class="stats">
        <li> <b>Age:</b> {{selected.age}}
        <li ng-if="selected.profession"> <b>Profession:</b> {{selected.profession}}
        <li ng-if="selected.residence"> <b>Residence:</b> {{selected.residence}}
        <li ng-if="selected.family"> <b>Family:</b> {{selected.family}}
        <li ng-if="selected.duration"> <b>Lived here:</b> {{selected.duration}}
        <li ng-if="selected.education"> <b>Education:</b> {{selected.education}}
        <li ng-if="selected.pets"> <b>Pets:</b> {{selected.pets}}
        <li ng-if="selected.heroes"> <b>Political hero:</b> {{selected.heroes}}
        <li ng-if="selected.commute"> <b>How they get to work:</b> {{selected.commute}}
        <li ng-if="selected.favorite_spot"> <b>Favorite spot:</b> {{selected.favorite_spot}}
      </ul>

    </div>

    <ul class="q-and-a">
      <li ng-repeat="question in questions[selected.category]"> 
        <div class="question">Q. {{question.label}}</div> 
        <div class="answer">A. {{selected[question.q]}} </div>
    </ul>
  </div>
</div>