<div class="candidate-view">
  <label>
    Select a candidate
  </label>
  <select ng-model="selected" ng-options="candidate.name for candidate in candidates">
  </select>
  <div class="candidate-selected" ng-if="selected">
    <h1>{{selected.name}}</h1>

    <img class="mugshot" ng-src="./assets/mugs/{{selected.img}}">

    <ul class="stats">
      <li> <b>Age:</b> {{selected.age}}
      <li> <b>Profession:</b> {{selected.profession}}
      <li> <b>Lived here:</b> {{selected.duration}}
      <li> <b>Education:</b> {{selected.education}}
      <li> <b>Residence:</b> {{selected.home || selected.residence}}
      <li> <b>Pets:</b> {{selected.pets}}
      <li> <b>Family:</b> {{selected.family}}
      <li> <b>How they get to work:</b> {{selected.commute}}
      <li> <b>Favorite spot:</b> {{selected.favoritespot}}
    </ul>

    <h2>We asked:</h2>

    <ul class="q-and-a">
      <li ng-repeat="question in questions[selected.category]"> 
        <div class="question">Q. {{question.label}}</div> 
        <div class="answer">A. {{selected[question.q]}} </div>
    </ul>
  </div>
</div>