<div class="measure-view">
  <h2>Ballot Measures</h2>
  <div class="measure-info card" ng-repeat="item in measures">
    <h2>{{item.measure}}</h2>
    <p class="summary">
      {{item.summary}}
    </p>

    <p class="cost">
      <b>Cost:</b> {{item.cost}}
    </p>

    <ul class="more-coverage" ng-if="item.link1.url">
      <li> <a href="item.link1_url">{{item.link1_text}}</a>
      <li ng-if="item.link2_url"> <a href="item.link2_url">{{item.link2_text}}</a>
    </ul>

    <div class="sides">
      <div class="favoring"> <b>In favor:</b> {{item.favoring}} </div>
      <div class="opposing"> <b>Opposed:</b> {{item.opposing}} </div>
    </div>
    </ul>
  </div>
</div>