@import "flexbox";

.candidate-view {
  overflow: hidden;
  font-family: @df-sans;

  .selection-controls {
    font-size: 16px;
    padding: 8px 0;
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: @df-middle-gray;

    select {
      color: black;
      text-transform: none;
      background: @df-light-gray;
      border: none;
      border-bottom: 1px dotted @df-light-gray;
      padding: 4px 12px;
    }
  }

  h2 {
    border-top: 8px solid black;
    font-family: @df-serif;
    font-style: italic;
    display: inline-block;
    font-size: 36px;
    padding: 8px 8px 0;
    margin: 0;
    line-height: 1;
  }

  .election {
    margin: 0 0 20px;
    font-size: 16px;
  }

  .more-stories {
    margin: 12px 0;

    h3 {
      margin: 8px 0;
    }

    ul {
      list-style: square inside;
      margin: 0;
      padding: 0;
    }

  }

  @sidebar-width: 30%;

  .bio {
    float: right;
    width: @sidebar-width;
    padding: 16px;

    @media @mobile {
      float: none;
      width: auto;
      padding: 0 0 20px;
    }
  }

  .stats {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 8px;
      font-size: 15px;
    }
  }

  .q-and-a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100% - @sidebar-width;

    @media @mobile {
      width: auto;
    }

    li {
      margin-bottom: 24px;
    }

    .question {
      font-size: 16px;
      font-weight: bold;
      font-family: @df-sans;
      margin-bottom: 10px;
    }

    .answer {
      font-size: 17px;
    }
  }
}