@import "flexbox";

.candidate-view {
  overflow: hidden;

  .selection-controls {
    font-family: @df-sans;
    font-size: 14px;
    padding: 8px;
    margin: 8px 0;
    border-bottom: 1px solid @df-light-gray;

    select {
      text-transform: none;
      border: none;
      border-bottom: 1px dotted @df-light-gray;
    }
  }

  h1 {
    margin: 8px 0;
  }

  .election {
    margin: 8px 0;
    font-size: 14px;
  }

  .bio {
    float: right;
    width: 33%;
    padding: 16px;
    margin: 0 6px 16px;
    background: @df-light-gray;
  }

  .stats {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 8px;
      font-size: 15px;
    }
  }

  .q-and-a {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 24px;
    }

    .question {
      font-size: 16px;
      font-weight: bold;
      font-family: @df-sans;
      color: darken(@df-blue, 20%);
    }

    .answer {
      padding-left: 1em;
      font-size: 17px;
    }
  }
}