<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body ng-app="election-guide">

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <hr class="ad-rule">

    <main class="page">
      <section class="black-banner">
        <a class="share top"></a>
      </section>
      <section class="striped-banner">
        <div class="content">
          <a href="http://seattletimes.com">
            <img src="./assets/st-logo.png" class="logo">
          </a>
          <h1>Election Guide</h1>

          <p class="chatter">
            Welcome to the Seattle Times election guide. Explore this year's races and ballot initiatives.
          </p>

          <nav class="sections">
            <ul>
              <li class="pipes"> <a ui-sref="locality" ui-sref-active="active">By Race</a>
              <li class="pipes"> <a ui-sref="candidates" ui-sref-active="active">All Candidates</a>
              <li class="pipes"> <a ui-sref="measures" ui-sref-active="active">Ballot Measures</a>
              <li class="pipes"> <a href="http://projects.seattletimes.com/2015/city-council-districts/">Find your district</a>
            </ul>
          </nav>

        </div>
      </section>
      <section class="view-pane" ui-view></section>

      <%= t.include("partials/_dontMiss.html", {
        data: [{
          link: "http://www.seattletimes.com/category/election-2015/",
          head: "Election 2015 coverage",
          image: "st-meta-facebook.png"
        }, {
          link: "http://projects.seattletimes.com/2015/city-council-districts/",
          head: "Seattle's City Council Districts",
          image: "council-map-tease.jpg"
        }, {
          link: "http://projects.seattletimes.com/2015/candidate-quiz/",
          head: "How many of the presidential candidates can you name?",
          image: "candidate-quiz-tease.jpg"
        }, {
          link: "http://www.seattletimes.com/seattle-news/politics/seattles-richest-whitest-sway-campaign-giving-say-reform-backers/",
          head: "Seattle's richest, whitest areas dominate campaign giving",
          image: "contribution-map-tease.jpg"
        }]
      }) %>
      
    </main>
    <%= t.include("partials/_navBottom.html") %>

    <script>
<%
var candidates = [];
["bellevue", "king", "port", "schoolBoard", "seattle", "snohomish"].forEach(function(race) {
  var sheet = json["ElectionGuide2015_" + race];
  sheet.forEach(function(candidate) {
    candidate.category = race;
  });
  candidates.push.apply(candidates, sheet);
});
var clientData = {
  candidates: candidates,
  measures: json.ElectionGuide2015_measures,
  strings: json.ElectionGuide2015_strings
};
%>
window.guideData = <%= JSON.stringify(clientData) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
