<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body ng-app="election-guide">

    <%= t.include("partials/_nav.html") %>
    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <main class="page">
      <h1>Election Guide 2015</h1>
      <nav class="sections">
        <ul>
          <li> <a ui-sref="intro" ui-sref-active="active">About</a>
          <li> <a ui-sref="locality" ui-sref-active="active">By Race</a>
          <li> <a ui-sref="candidates" ui-sref-active="active">All Candidates</a>
          <li> <a ui-sref="measures" ui-sref-active="active">Ballot Measures</a>
          <!-- <li> <a ui-sref="issues">On the issues</a> -->
        </ul>
      </nav>
      <section class="view-pane" ui-view></section>
    </main>
    <%= t.include("partials/_navBottom.html") %>

    <script>
<%
var candidates = [];
["bellevue", "king", "port", "schoolBoard", "seattle", "snohomish"].forEach(function(race) {
  var sheet = json["ElectionGuide2015_" + race];
  sheet.forEach(function(candidate) {
    candidate.category = race;
  });
  candidates.push.apply(candidates, sheet);
});
var clientData = {
  candidates: candidates,
  measures: json.ElectionGuide2015_measures,
  strings: json.ElectionGuide2015_strings
};
%>
window.guideData = <%= JSON.stringify(clientData) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
